@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@400;500;600&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{

    font-family: 'Playfair Display', serif;
    background-color:#004d98 ;
}

/* navbar start */

.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: 	#a50044;
    background-size: cover;
    padding: 15px;
}

.navbar a{
    text-decoration: none;
    color: white !important;
    font-size: 25px;
}

.navbar a:hover{
    text-decoration: none;
    color: #edbb00 !important;
    font-size: 25px;
}


/* navbar end */

h1, h2{
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 25px;
}

.list-movies a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;

}

.list-movies a:hover{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #edbb00;

}

ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;

}

ol li{
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 5px;
}




/* GALLERY PAGE START */
div.gallery {
    margin: 5px;
    border: 5px solid #ccc;
    float:left;
    width: 450px;
    padding: 25px;
    background-color: #a50044;
  }
  
  div.gallery:hover {
    border: 5px solid #edbb00;
  }
  
  div.gallery img {
    width: 400px;
    height: 300px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    color: #edbb00;
  }




/* GALLERY PAGE END */